/*
body {
  font-family: 'Lemonada', cursive;
}

h1 {
  font-family: 'Luxurious Roman', cursive;
}

.menu-category {
  font-family: 'Poppins', sans-serif;
}
*/


/* Default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Log Screen (After Effect) */
.log-screen {
  background-color: #000;
  color: #fff;
  padding: 0;
  height: 100vh; /* Ekran yüksekliği kadar uzansın */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.log-logo {
  width: 250px;
  height: auto;
  animation: fadeIn 1s ease-in-out;
  text-align: center;
  margin: 5px auto; /* Yazıyı ortalamak için */
}

.log-text {
  margin-top: 5rem;
  font-family: 'Luxurious Roman', cursive;
  animation: fadeIn 1.5s ease-in-out;
}

.log-welcome {
  animation: fadeIn 2.5s ease-in-out;
}

.log-p {
  animation: fadeIn 3.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}


/*Main Page*/
.Home {
  text-align: center;
  width: 100%;
}

.menu-category {
  width: 100%;
  padding-top: 0.3rem;
  padding-bottom: 0.1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #fff;
  color: #000; /* Metin rengi */
  border-radius: 1.5rem;
}

.menu-category.bg-dark {
  background-color: #000;
  color: #ffffff;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  align-items: center;
  justify-content: space-between;
  
}


/* Menu Items*/
.single-menu-item {
  border-radius: 1rem;
  margin: 10px 0;
  border: 0.2rem solid #777777;
  padding: 1rem;
  transition: all 0.3s ease;
}

.single-menu-item:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-category.bg-light .single-menu-item {
  border-color: black;
}

.menu-category.bg-dark .single-menu-item {
  border-color: white;
}


/* Menu Headers */
.menu-item-header {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  padding: 0.1rem;
  font-family: 'Poppins', sans-serif; 
}


/* Menu Item Names */
.menu-item-name {
  font-weight: bold;
  
}


/* Prices */
.menu-item-price {
  margin-left: auto;
}


/* Description */
.menu-description {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 0.7rem; 
}


/* White & Black */
.category-item.bg-dark .menu-item-description {
  border-top: #fff solid 1px;
  text-size-adjust: 0.3rem;
}

.category-item.bg-light .menu-item-description {
  border-top: #000000 solid 1px;
}

.dark-text {
  color: #FFFF00; 
}


/* Photos */
.category-item-img {
  width: 80%;
  overflow: hidden;
  align-self: center;
  height: auto;
  border-radius: 2rem;
  margin: 0.5rem 0;
  box-shadow: 1rem 2rem 5rem rgba(0, 0, 0, 0.5);

}


/* Menu Header */
.category-name {
  font-size: 1.5rem;
  font-family: 'Lemonada', cursive;
}

.h1 {
  font-family: 'Poppins', sans-serif;
}
