/* Ana sayfa başlık stilini tanımlayın */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Home {
  text-align: center;
  width: 100%;
  padding-top: 0.5rem;
}

.menu-category {
  width: 100%;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #fff;
  color: #000; /* Metin rengi */
}

.menu-category.bg-dark {
  background-color: #000;
  color: #ffffff;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  align-items: center;
  justify-content: space-between;
  
}

.single-menu-item {
  border-radius: 1rem;
  margin: 10px 0;
  border: 0.2rem solid #777777; /* Border rengini daha açık bir gri yapabilirsiniz */
  padding: 1rem; /* Daha fazla iç kenar ekleyerek daha büyük bir kutu oluşturun */
  transition: all 0.3s ease; /* Yumuşak bir geçiş ekleyin */
}

/* Bileşen üzerine gelindiğinde gölge ekleyin */
.single-menu-item:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Hafif bir gölge ekleyin */
}

/* Beyaz arka planlı öğelerin border rengi */
.menu-category.bg-light .single-menu-item {
  border-color: black; /* Beyaz arka planlı öğelerde border rengini siyah yapın */
}

/* Siyah arka planlı öğelerin border rengi */
.menu-category.bg-dark .single-menu-item {
  border-color: white; /* Siyah arka planlı öğelerde border rengini beyaz yapın */
}


.menu-item-header {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  padding: 0.1rem;
  font-family: 'Times New Roman', Times, serif;

}

.menu-item-name {
  font-weight: bold;
}

.menu-item-price {
  margin-left: auto;
}

.menu-description {
  position: relative;
  font-style: italic;
}


.category-item.bg-dark .menu-item-description {
  border-top: #fff solid 1px;
  text-size-adjust: 0.3rem;
}

.category-item.bg-light .menu-item-description {
  border-top: #000000 solid 1px;
}

.dark-text {
  color: #FFFF00; 
}

.category-item-img {
  width: 100%;
  align-self: center;
  height: auto;

  border-radius: 2rem;
  margin: 0.5rem 0;
  box-shadow: 1rem 2rem 5rem rgba(0, 0, 0, 0.5);
}